/*隐藏头部的目录*/
#main>ul:nth-child(1) {
    display: none;
}

.markdown-section h1 {
    margin: 3rem 0 0 0;
}

.content,
.sidebar,
.markdown-section,
body,
.search input,
.sidebar-toggle {
    background-color: rgba(243, 242, 238, 1) !important;
}

body {
    font-family: Microsoft YaHei, Source Sans Pro, Helvetica Neue, Arial, sans-serif !important;
}

.markdown-section>* {
    font-size: 15px !important;
}

/*.anchor span {
    color: rgb(66, 185, 131);
}*/