root = true

[*]
insert_final_newline = false
charset = utf-8
indent_style = tab
indent_size = 4

[tests/languages/**.test]
end_of_line = crlf

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2